.footer {
	color:#777;
}

.table>tbody>tr.success>td {
	background-color:#94FF8F;
}

.table>tbody>tr.failed>td {
	background-color: rgb(255, 184, 184);
}

.table>tbody>tr.progress>td {
	background-color: yellow;
}

.table>tbody>tr>td.failed {
	color: red;
	font-weight:bold;
}

.table>tbody>tr>td.success {
	color: black;
	font-weight:bold;
}

div.project-summary {
	display : inline-block;
	margin-right : 15px;
	border-left: 3px solid #5bc0de;
}

.project-summary * {
	display: block;
	padding: 5px;
	margin: 5px;
}

.success {
	background-color:#94FF8F;
}

.failed {
	background-color: rgb(255, 179, 179);
}

ul.nav-tabs>li>a {
	cursor:pointer;
}
