body {
	background-color: #b2b2b2;
}

.container {
	background-color:white;
	padding: 5px 40px 10px 40px;
}

.footer {
	color:#777;
}

#project-summary-container {
	margin-top:20px;
}

.table>tbody>tr.success>td, li.project-summary.success {
	background-color:#94FF8F;
}

.table>tbody>tr.failed>td, li.project-summary.failed {
	background-color: rgb(255, 184, 184);
}

.table>tbody>tr.inprogress>td, li.project-summary.inprogress {
	background-color: yellow;
}

.table>tbody>tr>td.failed {
	color: red;
	font-weight:bold;
}

.table>tbody>tr>td.success {
	color: black;
}

ul.nav-tabs>li>a {
	cursor:pointer;
}

#project-builds-nav {
	margin-top: 25px;
}

.project-summary {
	margin-right: 20px;
	border-left: 1px solid blue;
}

.project-summary * {
	margin:10px;
}

.project-summary span {
	display: inline-block;
}

li.project-summary.failed {
	font-weight:bold;
}
